body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edbbc5;
    color: #333;
}

h1 {
    text-align: center;
    margin: 100px 20px;
    color: #585353;
    font-size: 4em;
    font-weight: 350;
}

.image-gallery-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.image-item-4 {
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.image-item-4:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.image-item-4 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}

.image-item-4.highlighted {
    outline: 5px solid #fd83ac;
    box-shadow: 0 0 15px rgba(233, 30, 99, 0.7);
    transform: scale(1.03);
}


@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
        margin: 50px 20px;
    }

    .image-gallery-4 {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 15px;
    }

    .image-item-4 img {
        height: 200px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .image-gallery-4 {
        grid-template-columns: repeat(3, 1fr);
    }

    .image-item-4 img {
        height: 220px;
    }
}

 
