body { margin:0; font-family: system-ui, Arial, sans-serif; background-color: #edbbc5 }
    main {   padding-top: 10rem;   text-align: center;}
  h1{color: #fffefe;font-size: :10em; font-weight: 500;}
      centered-image { display: block; margin: 20px auto; width:300px; height: auto;}        
  .nav { display:flex; align-items:center; justify-content:space-between; background:#333; color:#fff; padding:1.5rem 1.5rem; }
.nav .brand { font-weight:100; letter-spacing:1px; }
.nav ul { list-style:none; display:flex; gap:1rem; margin:0; padding:0;}
    .nav a { color:#fff; text-decoration:none; }
  .nav a:hover { text-decoration:underline; }
.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger-menu span {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }
    
    .nav ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #333;
        flex-direction: column;
        padding: 20px;
    }
    
    .nav ul.active {
        display: flex;
    }
    
    .nav ul li {
        margin: 10px 0;
    }

}
